.status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 3px 5px;
}

.status-bar__column {
  width: 33%;
}

.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__column:last-child .fa-battery-full {
  margin: 0px 5px;
}
.welcome-header {
  margin: 60px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  font-size: x-large;
  font-weight: 500;
}
.welcome-header__text {
  margin-top: 30px;
  width: 60%;
  opacity: 0.6;
}
